name: Docker Image CI

on:
  push:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run mvn package
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - run: ./mvnw package

      - name: Build the Docker image
        run: docker build --file src/main/docker/Dockerfile.jvm --tag ghcr.io/${{ github.repository }}:latest .

      - name: Push the Docker image
        run: docker push ghcr.io/${{ github.repository }}:latest